!!! 5
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:content => "IE=edge,chrome=1", :'http-equiv'=>"X-UA-Compatible"}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5, user-scalable=1'}

    %title= data.page.title || "ryumu*のwater"

    = stylesheet_link_tag "normalize", "http://fonts.googleapis.com/css?family=Roboto:100","all"
    /= javascript_include_tag "all"

  %body{:class => page_classes}
    = yield