---
title: ryumu*のwater
---

# ryumu*<span>の</span>water

<%= image_tag 'botanist@2x.jpg', :width => '290', :height => '290' %>


第一回のryumuのwaterはGIN!  
BOTANISTっていうおいしいジンを持って行きますので、それとか皆で持ち寄ったお酒おつまみでワイワイしましょう！

## 基本

日時： 5月4日(土)　12:00くらいから  
場所： [大阪城西の丸庭園](http://www.osaka-info.jp/jp/search/detail/sightseeing_5288.html)(入場に200円かかります)  
持物： お酒、おつまみ（あれば：お外で遊ぶもの、敷物）

## 参加するには

twitterで [@ryumu](http://twitter.com/ryumu) に声かけてください。

## 注意事項

- 音楽はかかりません。
- 20歳未満のみでの参加は禁止。 
- 泥酔は自己責任で！！

## 現在の参加者

- [ryumu](http://twitter.com/ryumu)
- [KoemasaRAM](http://twitter.com/KoemasaRAM)
- [yukishirobit](http://twitter.com/yukishirobit)
- [YusukeUdon](http://twitter.com/YusukeUdon)
- [zentamann](http://twitter.com/zentamann)
- [SEKITOVA](http://twitter.com/SEKITOVA)(要保護者)
- [lapix](http://twitter.com/_lapix_)

## その他

西の丸庭園へは、谷町四丁目駅の1-B出口からが一番近いです。  
詳しくは[Gooleマップ](http://goo.gl/maps/mYUCr)をみてね！